{% extends 'articles/base.html' %}


{% load static %}


{% block header %}
<!-- Page Header -->
<header class="masthead" style="background-image: url('{% static "nepton/img/gha.jpg" %}')">
                         <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <div class="site-heading">
          <h1 style="font-family:Bell MT">Nepton</h1><hr>
          <span class="subheading" style="font-family:Bradley Hand ITC">A way to heaven</span>
        </div>
      </div>
    </div>
  </div>
</header>
{% endblock %}



{% block main %}
<!-- Main Content  truncatechars -->
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 mx-auto">

      {% for a in articles %}
      <div class="post-preview">
        <a href="{% url 'nep_blog:post' a.slug %}">
          <h2 class="post-title">
            {{a.title}}
          </h2>
          <h3 class="post-subtitle">
            {{a.description | truncatechars:80}}
          </h3>
        </a>

        <div>
          {% for cat in a.Category.all %}
          <a href="#">#{{cat.title}}</a>
          {% endfor %}
        </div>

        <p class="post-meta">Posted by
          <a href="#">z3os</a>
          on {{a.created}}</p>

      </div>
      <hr><br>

{% endfor %}
      <!-- Pager -->
      <div class="clearfix">

        <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
      </div>
    </div>
  </div>
</div>

<!-- Main Content end -->
{% endblock %}
